.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer input {
  border: 0;
  background: linear-gradient(90deg, var(--blue-dark) 0%, var(--blue) 110%);
  font-size: 1.25rem;
  padding: 1.65rem;
  color: var(--white);
  outline: none;

  border-radius: 5px 0px 0px 5px;
}

.inputContainer input::placeholder {
  color: var(--text-highlight);
  opacity: 0.5;
}

.inputContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: var(--green);

  padding: 1.66rem;
  border: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.2s;
}

.inputContainer button:hover {
  transform: scale(1.03);
}

.inputContainer button:active {
  transform: scale(0.98);
}
